# PostgreSQL - inicialización
DATABASE_URL="postgresql://userName:UserPassword@postgres:5432/DBName?schema=public"
POSTGRES_USER=userName
POSTGRES_PASSWORD=UserPassword
POSTGRES_DB=DBName

# Rol de la aplicación
APP_DB_USER=user_app
APP_DB_PASSWORD=user_app_password
# Rol de migraciones
MIGRATOR_DB_USER=user_migrator
MIGRATOR_DB_PASSWORD=user_migrator_password
# Rol de administración
ADMIN_DB_USER=user_admin
ADMIN_DB_PASSWORD=user_admin_password
# Conexiones
DATABASE_URL_APP=postgresql://${APP_DB_USER}:${APP_DB_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public
DATABASE_URL_MIGRATOR=postgresql://${MIGRATOR_DB_USER}:${MIGRATOR_DB_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public
DATABASE_URL_ADMIN=postgresql://${ADMIN_DB_USER}:${ADMIN_DB_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public


JWT_SECRET="*******"